{% extends "base.html" %}

{% block content %}

    <h1>Popular Movies</h1>

    <div class="row">
        <div class="movie_box">
            <img src="#">
            <span>Movie Title</span>
        </div>

        <div class="movie_box">
            <img src="#">
            <span>Movie Title</span>
        </div>

        <div class="movie_box">
            <img src="#">
            <span>Movie Title</span>
        </div>

        <div class="movie_box">
            <img src="#">
            <span>Movie Title</span>
        </div>

        <div class="movie_box">
            <img src="#">
            <span>Movie Title</span>
        </div>
    </div>

{% endblock %}