{% extends "base.html" %}

{% block content %}

<form method="POST">
    <div class="form-group">
        <label for="Movie1">Movie 1</label>
        <div class="form-row">
          <div class="col-6">
            <select multiple class="form-control" id="Movie1">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" id="Movie1Rating" placeholder="Movie 1 Rating">
          </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Movie2">Movie 2</label>
        <div class="form-row">
          <div class="col-6">
            <select multiple class="form-control" id="Movie2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" id="Movie2Rating" placeholder="Movie 2 Rating">
          </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Movie3">Movie 3</label>
        <div class="form-row">
          <div class="col-6">
            <select multiple class="form-control" id="Movie3">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" id="Movie3Rating" placeholder="Movie 3 Rating">
          </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Movie4">Movie 4</label>
        <div class="form-row">
          <div class="col-6">
            <select multiple class="form-control" id="Movie4">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" id="Movie4Rating" placeholder="Movie 4 Rating">
          </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Movie5">Movie 5</label>
        <div class="form-row">
          <div class="col-6">
            <select multiple class="form-control" id="Movie5">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="col-3">
            <input type="text" class="form-control" id="Movie5Rating" placeholder="Movie 5 Rating">
          </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}