{% extends "base.html" %}

{% block content %}
<br>
<h2>Movie Recommendation Survey</h2>
<p>
  Please tell us five movies you've watched and their ratings and we will recommend some more movies!
</p>

<form method="POST"> {% csrf_token %}
  <!-- MOVIE 1 -->
    <div class="form-group">
      <label for="movie1" class="col-form-label mr-sm-2">Movie 1</label>
      <input class="form-control typeahead" name="movie1" type="text" placeholder="Select Movie">
      <input id ="movie1" name="hiddenmovie1" type="hidden" >
    </div>
    <div class="form-group">
        <label for="Movie1Rating" class="col-form-label mr-sm-2">Movie 1 Rating</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie1Rating" id="Movie1Radio1" value="1">
          <label class="form-check-label" for="Movie1Radio1">&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie1Rating" id="Movie1Radio2" value="2">
          <label class="form-check-label" for="Movie1Radio2">&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie1Rating" id="Movie1Radio3" value="3">
          <label class="form-check-label" for="Movie1Radio3">&#9734;&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie1Rating" id="Movie1Radio4" value="4">
          <label class="form-check-label" for="Movie1Radio4">&#9734;&#9734;&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie1Rating" id="Movie1Radio5" value="5">
          <label class="form-check-label" for="Movie1Radio5">&#9734;&#9734;&#9734;&#9734;&#9734;</label>
        </div>
      </div>
    
    
  <!-- MOVIE 2 -->
    <div class="form-group">
        <label for="movie2" class="col-form-label mr-sm-2">Movie 2</label>
      <input class=" form-control typeahead" name="movie2" type="text" placeholder="Select Movie">
      <input id ="movie2" name="hiddenmovie2" type="hidden" >
    </div>
    <div class="form-group">
      <label for="Movie2Rating" class="col-form-label mr-sm-2">Movie 2 Rating</label>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Movie2Rating" id="Movie2Radio1" value="1">
        <label class="form-check-label" for="Movie2Radio1">&#9734;</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Movie2Rating" id="Movie2Radio2" value="2">
        <label class="form-check-label" for="Movie2Radio2">&#9734;&#9734;</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Movie2Rating" id="Movie2Radio3" value="3">
        <label class="form-check-label" for="Movie2Radio3">&#9734;&#9734;&#9734;</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Movie2Rating" id="Movie2Radio4" value="4">
        <label class="form-check-label" for="Movie2Radio4">&#9734;&#9734;&#9734;&#9734;</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="Movie2Rating" id="Movie2Radio5" value="5">
        <label class="form-check-label" for="Movie2Radio5">&#9734;&#9734;&#9734;&#9734;&#9734;</label>
      </div>
    </div>

  <!-- MOVIE 3 -->
    <div class="form-group">
      <label for="movie3" class="col-form-label mr-sm-2">Movie 3</label>
      <input class=" form-control typeahead" name="movie3" type="text" placeholder="Select Movie">
      <input id ="movie3" name="hiddenmovie3" type="hidden" >
    </div>
    <div class="form-group">
        <label for="Movie3Rating" class="col-form-label mr-sm-2">Movie 3 Rating</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie3Rating" id="Movie3Radio1" value="1">
          <label class="form-check-label" for="Movie3Radio1">&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie3Rating" id="Movie3Radio2" value="2">
          <label class="form-check-label" for="Movie3Radio2">&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie3Rating" id="Movie3Radio3" value="3">
          <label class="form-check-label" for="Movie3Radio3">&#9734;&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie3Rating" id="Movie3Radio4" value="4">
          <label class="form-check-label" for="Movie3Radio4">&#9734;&#9734;&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie3Rating" id="Movie3Radio5" value="5">
          <label class="form-check-label" for="Movie3Radio5">&#9734;&#9734;&#9734;&#9734;&#9734;</label>
        </div>
    </div>
  
  <!-- MOVIE 4 -->
    <div class="form-group">
      <label for="movie4" class="col-form-label mr-sm-2">Movie 4</label>
      <input class=" form-control typeahead" name="movie4" type="text" placeholder="Select Movie">
      <input id ="movie4" name="hiddenmovie4" type="hidden" >
    </div>
    <div class="form-group">
        <label for="Movie4Rating" class="col-form-label mr-sm-2">Movie 4 Rating</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie4Rating" id="Movie4Radio1" value="1">
          <label class="form-check-label" for="Movie4Radio1">&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie4Rating" id="Movie4Radio2" value="2">
          <label class="form-check-label" for="Movie4Radio2">&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie4Rating" id="Movie4Radio3" value="3">
          <label class="form-check-label" for="Movie4Radio3">&#9734;&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie4Rating" id="Movie4Radio4" value="4">
          <label class="form-check-label" for="Movie4Radio4">&#9734;&#9734;&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie4Rating" id="Movie4Radio5" value="5">
          <label class="form-check-label" for="Movie4Radio5">&#9734;&#9734;&#9734;&#9734;&#9734;</label>
        </div>
    </div>

  <!-- MOVIE 5 -->
    <div class="form-group">
      <label for="movie5" class="col-form-label mr-sm-2">Movie 5</label>
      <input class=" form-control typeahead" name="movie5" type="text" placeholder="Select Movie">
      <input id ="movie5" name="hiddenmovie5" type="hidden" >
    </div> 
    <div class="form-group">
        <label for="Movie5Rating" class="col-form-label mr-sm-2">Movie 5 Rating</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie5Rating" id="Movie5Radio1" value="1">
          <label class="form-check-label" for="Movie5Radio1">&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie5Rating" id="Movie5Radio2" value="2">
          <label class="form-check-label" for="Movie5Radio2">&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie5Rating" id="Movie5Radio3" value="3">
          <label class="form-check-label" for="Movie5Radio3">&#9734;&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie5Rating" id="Movie5Radio4" value="4">
          <label class="form-check-label" for="Movie5Radio4">&#9734;&#9734;&#9734;&#9734;</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="Movie5Rating" id="Movie5Radio5" value="5">
          <label class="form-check-label" for="Movie5Radio5">&#9734;&#9734;&#9734;&#9734;&#9734;</label>
        </div>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}