{% extends "base.html" %}

{% block content %}

<form method="POST">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect3">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect3">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect4">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect4">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect5">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect5">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}